# gradle

.gradle/
build/
out/

# idea

.idea/
*.iml
*.ipr
*.iws

# eclipse

*.launch

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_STORE
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
run/
